body{
    background-color:beige;
    color: whitesmoke;
    padding: 1em;
}
.maincontainer{
    background-color:#e2a0a0;
    display: flex;
    width: 80%;
    height: 500px;;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 20px 20px 20px;
    align-content: center;
    margin: 0% auto;
   
}
.subdiv{
    background-color: dodgerblue;
   
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
#sub1,#sub2,#sub3 {
    height: 200px;
    flex-basis: 30%;
    flex-grow:20;
    flex-shrink: 18;

}
#sub4,#sub5,#sub6,#sub7 {
    height: 100px;
    
    flex-basis: 23%;
    flex-grow:15;
    flex-shrink: 15;
}
#sub8,#sub9,#sub10,#sub11,#sub12{
    height: 70px;
    flex-basis: 15%;
    flex-grow: 12;
    flex-shrink: 12;
}
.mainsub{
    width: 98%;
    margin : 1px  auto 1px auto;
    display:flex;
    flex-wrap: wrap;
    padding:  0 1% 1% 1%;
    color: black;

}
.subdivdiv{
    background-color:aliceblue;
   margin: .5%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
   align-items: center;

}

#subdivdiv1,#subdivdiv2,#subdivdiv3 {
    height: 53px;
    flex-basis:25%;
    flex-grow:20;
    flex-shrink: 18;
  

}
#subdivdiv4,#subdivdiv5,#subdivdiv6,#subdivdiv7 {
    height: 35px;
    flex-basis: 20%;
    flex-grow:15;
    flex-shrink: 15;
  
}
#subdivdiv8,#subdivdiv9,#subdivdiv10,#subdivdiv11,#subdivdiv12 {
    height: 25px;
    flex-basis: 15%;
    flex-grow: 12;
    flex-shrink: 12;

}
